/* app.css */

/* Transiciones suaves */
* {
  transition: all 0.3s ease;
}

/* Estilo para el contenedor principal */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
}

/* Estilo para el input de la tarea */
form input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  flex-grow: 1;
  max-width: 300px;
  transition: border-color 0.3s ease;
}

form input[type="text"]:focus {
  border-color: #28a745;
}

/* Estilo para el botón de agregar */
form button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}

/* Estilo para cada tarea (article) */
article {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

/* Estilo para el checkbox */
article input[type="checkbox"] {
  margin-right: 10px;
}

/* Estilo para el texto de la tarea */
article span {
  flex-grow: 1;
}

article span.completed {
  text-decoration: line-through;
}

/* Estilo para el botón de eliminar */
article button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

article button:hover {
  background-color: #c82333;
}

.contentError {
  position: relative;
}

.tooltip {
  visibility: hidden;
  width: 200px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 125%; /* Ajustar según la posición deseada */
  left: 50%;
  margin-left: -100px; /* Ajustar según el ancho del tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ff1100 transparent transparent transparent;
}

.show-tooltip {
  visibility: visible;
  opacity: 1;
}